<h2>Produtos</h2>
<section class="cards">
  {{#each products}}
    <div class="card">
      <div class="card-item">
        <h3>{{this.title}}</h3>
        <p>R${{this.price}}</p>
        <a href="/product/{{this.id}}">Acesse o produto</a>
      </div>
    </div>
  {{/each}}
  <div class="addCard">
    <div class="addCard-item">
      <h3>Adicionar produto</h3>
      <button id="add">
        <img src="/image/add-icon.png" alt="adicionar">
      </button>
    </div>
  </div>
</section>
<script src="/scripts/object.js"></script>