* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
  margin: 2rem 0 1rem 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(122, 178, 250);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav a {
  color: white;
}
.cards {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; 
  column-gap: 15px;
  row-gap: 15px;
}

.card {
  background-color: rgb(190, 211, 255);
  width: 20vw;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-item a {
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-top: 0.8rem;
}

.single-card {
  display: flex;
  justify-content: center;
}
.card-2 {
  margin: 2rem;
  text-align: center;
  width: 50%;
  background-color: rgb(190, 211, 255);
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
}

.addCard {
  text-align: center;
  background-color: rgb(190, 211, 255);
  border-radius: 10px;
  font-size: .8rem;
}

.addCard-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  gap: 13px;
}

#add {
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}