<h1>Olá, {{user.name}}</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}} e tem {{user.age}} anos!</p>
{{#if auth}}
    <p>Usuário autenticado <a href="/dashboard">clique aqui</a> para acessar o Dashboard</p>
{{/if}}
